@import "custom_scss";


p,
h1,
h2,
h3 {
    color: getCC(10, 1, 1, 5);
    font-weight: 900;

}


form {
    background-color: getCC(8, 8);
    padding: 2vh;
    border-radius: 3vh;
    height: fit-content;
    margin: 3vh, 1vw;
    padding: 3vh;

    @include flexing($item-alignment: right);
    row-gap: 1em;

    * {
        text-align: right;
    }
}

datalist option {
    font-size: 200%;
    color: black;
}

div.buttons-wrapper button, button.link {
    font-size: 1.4rem;

    background-color: getCC(light, 3, 0.5);
    $main-color: getCC(9, 7);
    color: $main-color;
    border: 0.2em $main-color solid;
    border-radius: 0.4em;

    cursor: pointer;
    margin: 0.5em 0.2em;
    padding: 0.2em 0.4em;
    transition: 250ms ease-in-out;

    &:hover {
        box-shadow: 0em 0em 0.2em 0em $main-color inset, 0em 0em 0.35em 0em $main-color inset;
    }
}


input,
select,
option {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    background-color: getCC(8, 7);
    border-radius: 3vh;
    color: black;
    min-height: 3vh;
    min-width: 3vh;
}

div.center {
    width: fit-content;
    min-height: 100vh;
    height: fit-content;
}
